<section id="add-news">
  <div class="container p-4">
    <h3 class="display-4 text-center">Add News</h3>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-body">
          <form (ngSubmit)="onAddSubmit()" #addNews="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="news.title" name="title" placeholder="News Title" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" [(ngModel)]="news.description" name="description" placeholder="News Description"
                required></textarea>
            </div>
            <div class="form-group">
              <label for="title">Category</label>
              <select class="form-control" [(ngModel)]="news.category" name="category" id="category" required>
                <option value="" disbaled selected></option>
                <option value="Life">Life</option>
                <option value="Food">Food</option>
                <option value="Health">Health</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="news.id" name="id" hidden>
            </div>
            <button type="submit" class="btn btn-success btn-block" [disabled]="!addNews.form.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>