<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: '#fff', backdropBorderRadius: '0px',
  primaryColour: '#8f35aa'}"></ngx-loading>
<section id="news-details">
  <div *ngIf="singleNews" class="container p-4">
    <h3 class="display-4">News Details</h3>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-info text-light">
            {{singleNews.title}}
            <span class="badge badge-success p-2 pull-right">{{singleNews.category}}</span>
          </div>
          <div class="card-body">
            <div class="card-text">
              {{singleNews.description}}
            </div>
          </div>
          <div class="card-footer">
            <button [routerLink]="['/news']" [queryParams]="{ page: p, category: category}" class="btn btn-warning btn-sm">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!singleNews" class="container text-center p-4">
    <h3>No news found. Please, try again</h3>
  </div>
</section>