<section id="news-details">
  <div class="container p-4">
    <h3 class="display-4">News Details</h3>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-info text-light">
            {{singleNews.title}}
            <span class="badge badge-success p-1 pull-right">{{singleNews.category}}</span>
          </div>
          <div class="card-body">
            <div class="card-text">
              {{singleNews.description}}
            </div>
          </div>
          <div class="card-footer">
            <button [routerLink]="['/news']" [queryParams]="{ page: p}" class="btn btn-warning btn-sm">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>