<div [formGroup]="form">
  <label [attr.for]="singleNews.key">{{singleNews.label}}</label>
  <div [ngSwitch]="singleNews.controlType" class="form-group">
    <input *ngSwitchCase="'textbox'" class="form-control" [placeholder]="singleNews.placeholder" [formControlName]="singleNews.key"
      [id]="singleNews.key" [type]="singleNews.type">
    <select [id]="singleNews.key" *ngSwitchCase="'dropdown'" class="form-control" [formControlName]="singleNews.key">
      <option value="" disabled selected>Please select</option>
      <option *ngFor="let opt of singleNews.options" [value]="opt.key">{{opt.value}}</option>
    </select>
  </div>
  <div class="errorMessage" *ngIf="!isValid && isTouched">{{singleNews.label}} is required</div>
</div>