/* You can add global styles to this file, and also import other style files */
.alert {
  padding-bottom: 0;
  margin: 0;
  border-radius: 0;
}

.ngx-pagination a, .ngx-pagination button {
  outline: 0;
}

.errorMessage{
  color:red;
}